In [24]:
import pandas as pd
from tqdm.auto import tqdm

from platform import python_version
print(python_version())

3.9.12

In [25]:
def Crunch(L, R):
    d = abs(L - R)
    if L > R:
        swing = (-1)*d
    elif R > L:
        swing = (1)*d
    else:
        swing = d

    return swing

In [26]:
def getNumVal(val):
    if val == 'Negative':
        return -2
    elif val == 'SomewhatNegative':
        return -1
    elif val == 'Neutral':
        return 0
    elif val == 'SomewhatPositive':
        return 1
    elif val == 'Positive':
        return 2

In [27]:
df1 = pd.read_csv(r'../data/kaggleIN.csv')

In [37]:
bias = []
for i in tqdm(range(len(df1))):
    bias.append(Crunch(getNumVal(df1.at[i, 'democrat_vote']), getNumVal(df1.at[i, 'republican_vote'])))

df1['Bias'] = bias
df1.head()

  0%|          | 0/21004 [00:00<?, ?it/s]

,url,q3,perceived,primary_topic,secondary_topic,democrat_vote,republican_vote,Bias
0,http://www.usatoday.com/story/news/nation/2013...,other,1,Civil Rights,Civil Rights,Neutral,Neutral,0
1,http://www.huffingtonpost.com/2013/05/21/senat...,News,0,Civil Rights,Civil Rights,Neutral,Neutral,0
2,http://www.washingtonpost.com/opinions/dont-le...,Opinion,1,Civil Rights,Civil Rights,Neutral,Neutral,0
3,http://www.foxnews.com/politics/2013/04/03/oba...,Opinion,1,Civil Rights,Civil Rights,Neutral,Neutral,0
4,http://www.breitbart.com/Big-Government/2013/1...,Opinion,1,Civil Rights,Civil Rights,Neutral,Neutral,0

In [38]:
df1.to_csv(r'..\data\kaggleUPDATED.csv')

In [11]:
df = pd.read_csv(r'../data/articles2.csv')

In [12]:
for i in tqdm(range(len(df))):
    string = df.at[i, 'text']
    df.at[i, 'text'] = ''.join(e for e in string if e.isalnum() or e.isspace())

  0%|          | 0/1553 [00:00<?, ?it/s]

In [13]:
df['text']

0       Cyber Command chief had signaled more aggressi...
1       The appeal was launched on behalf of Andrew Mi...
2       Elizabeth Warren said she supports getting rid...
3       Landlords will no longer be able to target ads...
4       Bolsonaros US visit comes as Maduro clings to ...
                              ...
1548    Advertisement Christopher Steele Washington wa...
1549    Advertisement Shepard Smith of Fox News Two Fo...
1550    Advertisement Notre Dame Cathedral in Paris Fr...
1551    Advertisement xa0 US Rep Adam Schiff DCalif Of...
1552    Advertisement Image courtesy Pixabay Remember ...
Name: text, Length: 1553, dtype: object

In [14]:
df.to_csv(r'..\data\updated.csv')